<p>The secret word is <%= display_word %></p>
<p>Enter a letter:</p>
<form method = "post" action = "processguess">
	<input type="text" name="guess" id="guess">
	<button type="submit" name="submit" id="submit">OK</button>
	</form>
