<p>Welcome to Hangman!

<form method="post" action="getplayers">
  <input type="radio" name="players" id="players" value="one">1 player<br>
  <input type="radio" name="players" id="players" value="two">2 player<br>
  <button type="submit">Continue</button>
</form>