<form method="post" action="twoplayerpatch">
<input type="text" name="secret_word" id="secret_word" value="<%= secret_word %>" hidden>
</form>

<script language="JavaScript">document.forms[0].submit();</script>